.offer-page {
  background-color: var(--grey-background);
}

.container-offer-page {
  display: flex;
  width: 1000px;
  height: 62rem;
  margin: var(--height--header) auto 0 auto;
  justify-content: space-between;
  padding: 5rem 0 10rem 0;
}

.detail-main-content {
  height: 80%;
}

.image-product {
  width: 60%;
}

.detail-product {
  background-color: #fff;
  padding: 4rem 3rem;
  box-sizing: border-box;
  width: 35%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-call1 {
  border-bottom: var(--width-border-bottom) solid var(--grey-border-bottom);
}

.detail-call2 {
  margin-top: 5rem;
}

.price-product {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--main-black);
  margin-bottom: 2rem;
}

.label-product-details,
.value-product-details {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  text-transform: uppercase;
}

.label-product-details {
  color: #999999;
  width: 55%;
}

.div-label-product-details {
  display: flex;
}

.value-product-details {
  width: 45%;
}

.value-product-details,
.description-product {
  color: #666666;
}

.title-product {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.description-product {
  overflow: hidden;
}

.product-description-fade-tooltip {
  position: relative;
}

/* ELLIPSIS TEXT */

.fade {
  font-size: 1.6rem;
  line-height: 2.2rem;
  position: relative;
  max-height: 13.2rem;
}

.fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150%;
  height: 2.2rem;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 50%
  );
}

/* TOOLTIP */

.tooltip {
  width: 20rem;
  text-align: center;
}

.icon-info {
  color: var(--main-green);
  cursor: pointer;
}

.avatar-description {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.avatar-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.avatar-username {
  color: var(--main-black);
  font-size: 1.6rem;
  font-weight: 500;
}

/* CAROUSEL */

.carousel-container-image {
  height: 100%;
}

.img-product-offerPage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-track {
  height: 100%;
}

.react-multiple-carousel__arrow {
  z-index: 2 !important;
}

/* .carousel-item {
  padding-right: 1rem;
  padding-left: 1rem;
} */

/* RESPONSIVE */

@media (max-width: 1100px) {
  .container-offer-page {
    width: auto;
    padding: 5rem 3rem 10rem 3rem;
  }
}

@media (max-width: 992px) {
  .container-offer-page {
    padding-top: 10rem;
  }

  .image-product {
    width: 55%;
  }

  .detail-product {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .container-offer-page {
    display: block;
    height: auto;
  }

  .image-product {
    width: 100%;
    height: 50rem;
  }

  .detail-product {
    width: 100%;
    margin-top: 2rem;
  }

  .avatar-product-description {
    display: flex;
    align-items: center;
  }

  .avatar-description {
    margin-top: 0;
    margin-left: 3rem;
  }

  .btn-buy {
    margin-top: 3rem;
  }
}

@media (max-width: 576px) {
  .avatar-product-description {
    display: block;
  }

  .avatar-description {
    margin-left: 0;
    margin-top: 3rem;
  }
}

@media (min-height: 1200px) {
  .offer-page {
    height: calc(100vh - 8rem - 12rem);
  }
}
