.offer-page {
  background-color: var(--grey-background);
}

.container-offer-page {
  display: flex;
  width: 1000px;
  height: 62rem;
  margin: var(--height--header) auto 0 auto;
  justify-content: space-between;
  padding: 5rem 0 10rem 0;
}

.detail-main-content {
  height: 80%;
}

.image-product {
  height: 100%;
  width: 60%;
}

.detail-product {
  background-color: #fff;
  padding: 4rem 3rem;
  box-sizing: border-box;
  width: 35%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-call1 {
  border-bottom: var(--width-border-bottom) solid var(--grey-border-bottom);
}

.detail-call2 {
  margin-top: 5rem;
}

.price-product {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--main-black);
  margin-bottom: 2rem;
}

.label-product-details,
.value-product-details {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  text-transform: uppercase;
}

.label-product-details {
  color: #999999;
  width: 55%;
}

.div-label-product-details {
  display: flex;
}

.value-product-details {
  width: 45%;
}

.value-product-details,
.description-product {
  color: #666666;
}

.title-product {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.description-product {
  overflow: hidden;
}

/* ELLIPSIS TEXT */

.fade {
  font-size: 1.6rem;
  line-height: 2.2rem;
  position: relative;
  height: 13.2rem;
}

.fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 2.2rem;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 50%
  );
}

/* Tooltip container */
/* .tooltip {
  position: relative;
  display: inline-block;
} */

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  /* padding: 5px 0; */
  border-radius: 6px;
  position: absolute;
  top: 0;
  z-index: 1000;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.avatar-description {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.avatar-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.avatar-username {
  color: var(--main-black);
  font-size: 1.6rem;
  font-weight: 500;
}

/* CAROUSEL */

.carousel-container-image {
  height: 100%;
}

.img-product-offerPage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.react-multiple-carousel__arrow {
  z-index: 2 !important;
}
