.logo-vinted {
  height: 3rem;
}

.div-logo {
  margin-right: 5rem;
  display: flex;
  align-items: center;
}

header {
  height: var(--height--header);
  border-bottom: solid var(--width-border-bottom) var(--grey-border-bottom);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  background-color: #fff;
}

.wrapper-header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-call1 {
  display: flex;
  width: 80%;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.div-filter {
  width: 70%;
}

.filter-range-sort {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.search-bar {
  position: relative;
  width: 100%;
}

.search-input {
  font-size: 1.6rem;
  height: 4rem;
  background-color: #f5f6f7;
  border: none;
  border-radius: 0.5rem;
  padding: 0 4rem;
  box-sizing: border-box;
  width: 100%;
  outline: none;
}

.search-input:focus {
  box-shadow: 0.1rem 0.1rem 7rem 0.05rem #ccc;
}

.icon-search {
  font-size: 1.6rem;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #a8a8a8;
}

.btn-send-clothes {
  white-space: nowrap;
}

.signup-login-div-header,
.login-header {
  margin-left: 10rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.login-header {
  display: flex;
}

.btn-logIn {
  margin-left: 1rem;
}

.avatar-header {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-left: 2rem;
  object-fit: cover;
}

.p-filter-range-sort {
  font-size: 1.2rem;
  white-space: nowrap;
}

.filter-range {
  display: flex;
  align-items: center;
  width: 70%;
  white-space: nowrap;
}

.toggle-filter-price {
  display: flex;
  align-items: center;
}

/* TOGGLE */

.input-filter-price {
  display: none;
}

.lb-filter-price {
  display: block;
  cursor: pointer;
  width: 5rem;
  height: 2.5rem;
  background-color: var(--main-green);
  border-radius: 10rem;
  transition: all 0.4s ease-out;
  margin-left: 1rem;
  text-align: center;
  line-height: 2.5rem;
}

.lb-filter-price::after {
  content: "+";
  display: block;
  position: relative;
  top: 0.2rem;
  left: 0.2rem;
  width: 2.1rem;
  height: 2.1rem;
  background-color: white;
  border-radius: 50%;
  transition: all 0.4s ease-out;
}

.input-filter-price:checked + label::after {
  transform: translate(2.5rem, 0);
  content: "-";
}

/* RANGE */

.track {
  height: 0.6rem;
  width: 100%;
  background-color: var(--main-green);
  margin-left: 2rem;
}

.trackThumb {
  height: 1.8rem;
  width: 1.8rem;
  background-color: var(--main-green);
  border-radius: 50%;
  outline: none;
  position: relative;
  border: 0.1rem solid white;
  box-sizing: border-box;
}

.thumb-price {
  position: absolute;
  top: -2.5rem;
  right: 50%;
  color: white;
  font-size: 1.2rem;
  background-color: var(--main-green);
  padding: 0.5rem;
  border-radius: 0.3rem;
  transform: translateX(50%);
  white-space: nowrap;
}

/* RESPONSIVE */

@media (max-width: 1260px) {
  .header-call1 {
    width: 90%;
  }

  .signup-login-div-header {
    margin-left: 4rem;
  }

  .header-call2 {
    margin-left: 3rem;
  }

  .div-logo {
    margin-right: 3rem;
  }

  .login-header {
    margin-left: 5rem;
  }
}

@media (max-width: 992px) {
  header {
    height: auto;
  }

  .header-call1 {
    width: 100%;
    display: block;
  }

  .div-logo {
    padding: 1.5rem 0;
    margin-right: 0;
    width: 8rem;
  }

  .div-filter {
    border-top: 0.1rem solid var(--grey-border-bottom);
    width: 100%;
    padding-top: 1rem;
  }

  .filter-range-sort {
    margin: 2.3rem 0 1rem 0;
  }

  .filter-range {
    margin-left: 1rem;
    width: 80%;
  }

  .signup-login-div-header {
    display: none;
  }

  .header-call2 {
    display: none;
  }

  .login-header {
    display: none;
  }

  /* RANGE */

  .track {
    margin-right: 1.5rem;
  }

  .thumb-price {
    top: -1.9rem;
    font-size: 1rem;
    padding: 0.3rem;
    border-radius: 0.2rem;
  }
}

@media (max-width: 576px) {
  /* TOGGLE */

  .lb-filter-price {
    width: 4rem;
    height: 2rem;
    line-height: 2rem;
  }

  .lb-filter-price::after {
    top: 0.1rem;
    left: 0.1rem;
    width: 1.8rem;
    height: 1.8rem;
  }

  .input-filter-price:checked + label::after {
    transform: translate(2rem, 0);
  }

  .toggle-filter-price {
    display: block;
    padding-right: 1rem;
    box-sizing: border-box;
    border-right: 0.1rem solid var(--grey-border-bottom);
  }

  .p-filter-range-sort {
    margin-bottom: 1rem;
  }
}
