.container-loader-main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-loader-offers {
  margin: 5rem 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-loader,
.loader-content {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.back-loader {
  border: solid #ebeaea 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-content {
  border: solid var(--main-green) 0.5rem;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  flex-shrink: 0;
  animation: rotation linear 1.5s infinite forwards;
}

@keyframes rotation {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-100deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}
