.modal-signup-login {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  z-index: 9;
}

.signup-login-content {
  margin-top: 20rem;
}

.h2-signup-login {
  text-align: center;
  font-size: 2.4rem;
  color: var(--main-black);
  margin-bottom: 4.5rem;
  font-weight: bold;
}

.form-signup-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-signup-login:not(:last-child) {
  margin-bottom: 3.5rem;
}

.div-password {
  width: 30rem;
  position: relative;
}

.icon-eye {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
  color: #bbbbbb;
}

.icon-eye:hover {
  cursor: pointer;
}

.btn-signup-login {
  font-family: "Maison Neue";
  width: 30rem;
  font-size: 1.6rem;
  height: 4.5rem;
}

.toggle-signup-loggin {
  text-align: center;
  font-size: 1.6rem;
  color: var(--main-green);
  margin-top: 2rem;
}

.toggle-signup-loggin:hover {
  cursor: pointer;
  text-decoration: underline;
}
