:root {
  --main-green: #09aeb7;
  --height--header: 5.2rem;
  --product-offset: 1rem;
  --main-black: #111;
}

html {
  font-size: 62.5%; /* Resize `rem` compared to `px` to make easy calculations */
}

body {
  font-size: 2rem;
  font-family: "Maison Neue";
}

.container {
  margin: 0 auto;
  width: 1240px;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.btn-green {
  border-radius: 0.5rem;
  border: none;
  height: 3rem;
  font-size: 1.2rem;
  background-color: var(--main-green);
  color: white;
}
