/* GENERAL SETTINGS */

:root {
  --main-green: #09aeb7;
  --height--header: 12rem;
  --product-offset: 1rem;
  --main-black: #111;
  --grey-border-bottom: #ece9e9;
  --width-border-bottom: 0.1rem;
  --grey-background: #ebedee;
  --transition-time-menu: 0.3s;
  --line-icon-hamburger-menu: #999999;
  --width-icon-hamburger-menu: 2rem;
  --height-icon-hamburger-menu: 0.15rem;
  --top-icon-hamburger-menu: 0.7rem;
  --bottom-icon-hamburger-menu: -0.7rem;
}

html {
  font-size: 62.5%; /* Resize `rem` compared to `px` to make easy calculations */
}

body {
  font-size: 2rem;
  font-family: "Maison Neue";
}

.container {
  margin: 0 auto;
  width: 1240px;
}

/* BUTTONS */

button:hover {
  cursor: pointer;
}

.btn-green {
  border-radius: 0.5rem;
  border: none;
  height: 3rem;
  font-size: 1.2rem;
  background-color: var(--main-green);
  color: white;
}

.btn-white-border-green {
  border-radius: 0.5rem;
  background-color: #fff;
  height: 3rem;
  color: var(--main-green);
  border: solid 0.1rem var(--main-green);
  font-size: 1.2rem;
}

button[disabled="disabled"] {
  cursor: not-allowed;
}

/* buttons to close modals and pictures */

.btn-close {
  position: absolute;
  font-weight: bold;
  top: 1rem;
  right: 1rem;
  color: #aaaaaa;
  transition: color 0.15s;
}

.btn-close:hover,
.btn-close:focus {
  color: #000;
  cursor: pointer;
}

/* INPUTS */

.input:focus {
  border-bottom: 1px solid var(--main-green);
}

.input {
  font-family: "Maison Neue";
  font-size: 1.6rem;
  border: none;
  border-bottom: 1px solid #dbdada;
  outline: none;
}

/* LINKS */

a {
  text-decoration: none;
}

/* RESPONSIVE */

@media (max-width: 1260px) {
  .container {
    width: auto;
    padding: 0 2rem;
    box-sizing: border-box;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
}
